
.DS_Store
.idea/
.vscode/
*.bak
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.swo
*.swp
*.test
*.tmp
*~
# Binaries for programs and plugins
# Build artifacts
# Dependency directories (remove the comment below to include it)
# Go workspace file
# IDE
# OS
# Output of the go coverage tool, specifically when used with LiteIDE
# Temporary files
# Test binary, built with `go test -c`
bin/
dist/
docs/superpowers/
go.work
Thumbs.db
vendor/
